.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

@media (min-width: 640px) {
  .titleWrapper {
    text-align: left;
  }
}

.title {
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 600;
  background: linear-gradient(to right, #9333ea, #db2777);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
