.text {
  margin: 1.5rem 0;
  text-align: center;
}

.error {
  color: red;
}

.scrollContainer {
  flex: 1;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.infiniteScroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5eef4;
  width: 100vw;
}

.container {
  display: flex;
  justify-content: center;
  background-color: #f5eef4;
  align-items: center;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-top: 1.5rem;
  background-color: #f5eef4;
  height: calc(100vh - var(--header-height) - var(--header-border-thickness));
  box-sizing: border-box;
  overflow: hidden;
}

.tabs {
  background-color: red;
  display: flex;
  border-radius: calc(0.625rem + 4px);
  background-color: oklch(94.8% 0.028 342.258);
  padding: 3px;
  width: 30vw;
}

.tab {
  flex: 1;
  border-radius: calc(0.625rem + 4px);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 3px;
}

.tab.active {
  background-color: red;
  color: white;
}

.icon {
  width: 1rem;
  height: 1rem;
}
